@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&family=Roboto:wght@400;700&display=swap');

body{
padding:0;
margin:0;
font-family: 'Roboto', sans-serif;
}

#outercontainer{
display:flex;
background-color:#36384e;
width:100%;
height:100vh;
align-items:Center;
justify-content:center;

}



#maincontainer{
display:flex;
height:550px;
width:750px;
background-color:#ffffff;
border-radius:22px;
}

#innercontainer,#innerimage{
margin-top:20px;
margin-bottom:20px;
}

#innercontainer{
margin-left:25px;
padding-right:20px;
background-color:White;
}

#innerimage{
margin-right:20px;
border-radius:15pxpx;
}
#innercontainer ul{
padding:0;

}



#innercontainer li{
display:flex;
align-items:Center;
}
#innercontainer li img{
height:25px;
padding-right:3%;
}
#holder{
margin-top:5px;
margin-bottom:8px;
height:40px;
width:95%;
border-radius:8px;
}

#submit{
height:50px;
width:98%;
background-color:#242742;
color:white;
border-radius:8px;
cursor:pointer;
}

#validemail{
float:right;
margin-right:5%;
display:none;
color:red;
font-size:13.5px;
right:0;
}


#submit:hover{
font-size:20px;
}

#headings{
font-size:45px;
}



::placeholder{
padding-left:20px
}

#emailtext{
font-size:13.5px;
}


#thankyou{
background-color:white;
border-radius:20px;
height:400px;
width:400px;
display:none;
}

#imgthankyou{
margin-left:8%;
margin-top:10%;
}

#hthankyou,#pthankyou,#bthankyou{
margin-left:8%;
margin-right:8%;
}

#bthankyou{
width:80%;
height:45px;
color:white;
background-color:#242742;
border-radius:10px;
margin-bottom:8%;
}


#hthankyou{
font-size:35px;
}

#bthankyou:hover{
cursor:pointer;
font-size:22px;
}




@media(max-width:700px){

#outercontainer{
height:100vh;
}

#maincontainer{
flex-direction:column;
justify-content: flex-start;
height:auto;
width:100%;
border-radius:0;
}

#innercontainer{
order:2;
margin-top:0;
}

#innerimage{src*="D:\Frontend Mentor Challenges\4\Solution\illustration-sign-up-mobile.svg"}{
order:1;
}



#innerimage{
background-color:black;
object-fit: cover;
border-radius:0px 0px 15px 15px;
margin:0;
padding:0;
height:510px;
}

#submit{
width:97%;
margin-bottom:8%;
margin-top:2%;
}


}


